<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>타임리프</title>
</head>
<body>
  <h2>아임리프 연습</h2>
  <p th:text="${message}">임시 문장입니다.</p>
  <p>[[${message}]] </p>
  
  ------------------------------------------------------------
  
  이스케이프 처리안함: <p th:text="${message2}">임시 문장입니다.</p>
 이스케이프 처리함:  <p th:utext="${message2}">임시 문장입니다.</p>
  <p>[(${message2})] </p>
</body>
</html>